.flash-card {
    height: auto;
    width: 1400px;
    border-radius: 3px;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    .flash-card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        width: 80%;


        h2, p, .alert {
            padding:  10px 20px;
    
        }
    
        h2 {
            font-size: calc(1.2 * 2rem);
            padding: 20px;
        }
    
        .flash-card-content {
            p {
                min-height: 500px;
                width: 60%;
                margin: auto;
            }
        }
    }

    .questions {
        margin: auto;
        padding: 40px;
        width: 80%;
    }

    .alert-wrapper {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}