.quiz {
    background-color: #233041;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;


    .cards {
        width: 60%;
        margin-top: 100px;
    }

    .submit {
        border: 0px;
        background-color: white;
        color: black;
        margin-bottom: 100px;
    }
}