.card {
    padding: 20px;
    min-height: 300px;
    margin: auto;
    margin-bottom: 50px;;

    ul {
        list-style-type: none;


        input {
            margin-right: 10px;
        }
    }
}