
.desk {
    background: #F6F6F6;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .desk-content {
        margin: 0px !important;
        .control-board {
            min-height: 150px;
            display: flex;
        }
    }

    
}