
.freshenup-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 40px;;


    .header {
        font-weight: 600;
        color: #233041;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        margin: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .back-chev {
        margin-right: 20px;
        position: relative;
        top: 2px;
        color: black;
    }

    .back-chev:hover {
        color: #D2AA16;
    }


    .title {
        text-align: center;
        padding: calc(.5 * 1rem);
        color: #233041;
        width: 25%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px;
        border: 2px solid #233041;
        border-radius: 3px;

        h3 {
            font-size: 1rem;
            cursor: pointer;
            font-weight: 600;
        }

        h3:hover {
            color: #D2AA16;
        }
    
        a {
            text-decoration: none;
            color: black;
    
           
        }
       
    }

}
