.freshenup-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: flex-start;
    
    .back-chev {
        margin-right: 20px;
        position: relative;
        top: 2px;
        color: black;
    }

    .back-chev:hover {
        color: #D2AA16;
    }


    .title {
        text-align: center;
        padding: calc(.5 * 1rem);
    
        a {
            text-decoration: none;
            color: black;
    
            h1 {
                font-size: calc(1 * 1rem);
            }
    
            h1:hover {
                color: #D2AA16;
            }
        }
       
    }
}
