

  body {
    font-family: 'Space Grotesk', sans-serif;
  }

  .back-nav {
    list-style: none;
    background: #233041;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;

    a {
        text-decoration: none;
        color: white
    }

    a:hover {
        color: #FFDC34;
    }

    .back {
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        align-items: center;
    }

    i {
        font-size: calc(1 * 1rem);
        padding: 0 1rem;
    }
}